<div class="jumbotron" style="text-align: center">
  <h1>Welcome to <span style="font-family: 'Londrina Shadow', cursive"><%= title %></span></h1>
  <p>a system based on Node.js</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">Log in</a>
    <a class="btn btn-large" href="/reg">Sign up</a>
  </p>
</div>
<div class="row">
  <div class="col-lg-6">
    <h2>Jason said</h2>
    <p>Soaring birds</p>
  </div>
  <div class="col-lg-6">
    <h2>Floyd said</h2>
    <p>
      Flying in cloud
    </p>
  </div>
  <div class="col-lg-6">
    <h2>Rose said</h2>
    <p>
      Yellow peddles, bright moon
    </p>
  </div>
  <div class="col-lg-6">
    <h2>Ray said</h2>
    <p>Endless</p>
  </div>
  <div class="col-lg-6">
    <h2>Copeland said</h2>
    <p>
      Right in my eye
    </p>
  </div>
  <div class="col-lg-6">
    <h2>Linda said</h2>
    <p>
      Floating around
    </p>
  </div>
</div>
