<div class="jumbotron" style="text-align: center">
  <h1>Welcome to <span style="font-family: 'Londrina Shadow', cursive">Weibo</span></h1>
  <p>a system based on Node.js</p>
  <p>
    <% if(!user) {%>
      <a class="btn btn-primary btn-large" href="/login">Log in</a>
      <a class="btn btn-large" href="/reg">Sign up</a>
    <%} else {%>
      Hello, <%= user.username %>
    <% } %>	
  </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="blockquote-box clearfix">
                <div class="square pull-left">
                    <img src="http://placehold.it/60/8e44ad/FFF&text=B" alt="" class="" />
                </div>
                <h4>
                    Floyd said</h4>
                <p>
                    It has become appallingly obvious that our technology has exceeded our humanity.
                </p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-music glyphicon-lg"></span>
                </div>
                <h4>
                    Roger said</h4>
                <p>
                    Technological progress has merely provided us with more efficient means for going backwards.
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-tree-conifer glyphicon-lg"></span>
                </div>
                <h4>
                    Travis said</h4>
                <p>
                    Getting information off the Internet is like taking a drink from a fire hydrant.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                </div>
                <h4>
                    Jeff said</h4>
                <p>
                    Technology is a gift of God. After the gift of life it is perhaps the greatest of God's gifts. It is the mother of civilizations, of arts and of sciences.
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-warning-sign glyphicon-lg"></span>
                </div>
                <h4>
                    Anto said</h4>
                <p>
                    People who are really serious about software should make their own hardware.
                </p>
            </div>
            <div class="blockquote-box blockquote-danger clearfix">
                <div class="square pull-left">
                    <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                </div>
                <h4>
                    Danny said</h4>
                <p>
                   For a successful technology, reality must take precedence over public relations, for Nature cannot be fooled.
                </p>
            </div>
        </div>
    </div>
</div>
