<html>
<head>
<title><%= title %> - Weibo</title>
<link href='https://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style>
	logo{font-family: 'Londrina Shadow', cursive;}
	.glyphicon-lg{font-size:3em}
	.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
	.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
	.blockquote-box.blockquote-primary{border-color:#357EBD}
	.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
	.blockquote-box.blockquote-success{border-color:#4CAE4C}
	.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
	.blockquote-box.blockquote-info{border-color:#46B8DA}
	.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
	.blockquote-box.blockquote-warning{border-color:#EEA236}
	.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
	.blockquote-box.blockquote-danger{border-color:#D43F3A}
	.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}
	@media (min-width: 768px) {
    		.omb_row-sm-offset-3 div:first-child[class*="col-"] {
        	margin-left: 25%;
    		}
	}

	.omb_login .omb_authTitle {
	   	text-align: center;
		line-height: 300%;
	}
	
	.omb_login .omb_socialButtons a {
		color: white; // In yourUse @body-bg 
		opacity:0.9;
	}
	.omb_login .omb_socialButtons a:hover {
    		color: white;
		opacity:1;    	
	}
	.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
	.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
	.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


	.omb_login .omb_loginOr {
		position: relative;
		font-size: 1.5em;
		color: #aaa;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.omb_login .omb_loginOr .omb_hrOr {
		background-color: #cdcdcd;
		height: 1px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.omb_login .omb_loginOr .omb_spanOr {
		display: block;
		position: absolute;
		left: 50%;
		top: -0.6em;
		margin-left: -1.5em;
		background-color: white;
		width: 3em;
		text-align: center;
	}			

	.omb_login .omb_loginForm .input-group.i {
		width: 2em;
	}
	.omb_login .omb_loginForm  .help-block {
    		color: red;
	}

	
	@media (min-width: 768px) {
    		.omb_login .omb_forgotPwd {
        		text-align: right;
			margin-top:10px;
 		}		
	}
</style>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Weibo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
	<% if(!user) {%>
        	<li><a href="/login">Log in</a></li>
		<li><a href="/reg">Sign up</a></li>
	<% } else { %>
		<li><a href="/logout">logout</a></li>
	<% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div id="container" class="container">
<% if (success) { %>
	<div class="alert alert-success">
		<%= success %>	
	</div>
<% } %>
<% if (error) { %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<span><%= error %></span>
	</div>
<% } %>
<%- body %>
<hr />
<footer>
<p><a href="https://github.com/FeiGuan/node_weibo" target="_blank">Code</a> @ FeiGuan 2014</p>
</footer>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>
