<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Please Sign Up</legend>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="username" name="username" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Password</label>
              <div class="col-md-9">
                <input id="password" name="password" type="password" placeholder="Password" class="form-control">
              </div>
            </div>
    
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Repeat</label>
              <div class="col-md-9">
                <input id="password-repeat" name="password-repeat" type="password" placeholder="Repeat your password" class="form-control">
              </div>
            </div>
 
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
